/*
Displays content as a wide card, with the post thumbnail on one side and the
title, content, and meta on the other.
*/

@mixin wide {
  grid:
    "thumbnail title" auto
    "thumbnail excerpt" 1fr
    "thumbnail footer" auto
    / 50% 50%;

  & .post-header {
    grid-area: title;
  }

  & .post-thumbnail {
    grid-area: thumbnail;
    display: grid;
    grid: 1 / 1;

    .attachment-post-thumbnail {
      align-self: center;
      justify-self: center;
    }
  }

  & .post-content {
    grid-area: excerpt;
  }

  & .post-footer {
    grid-area: footer;
  }
}
