@use "../core/text";

@mixin horizontal-image-showcase {
  $image-width: calc((( var(--usable-width) / 5 ) * 3));

  & .post-header,
  & .post-footer,
  & .post-content {
    margin-left: $image-width;

    & #{text.$gutterable-elements} {
      margin: var(--line) var(--half-gutter);
    }
  }

  & .post-image {
    position: fixed;
    top: 0;
    height: 100vh;
    max-width: $image-width;

    // To vertically centre child element
    line-height: var(--usable-height);
    font-size: 0; // Removes whitespace around children
    text-align: center;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
