@mixin vertical-card {
  display: grid;
  grid:
    [row1-start] "image" auto [row1-end]
    [row2-start] "header" auto [row2-end]
    /
    auto;

  grid-auto-rows: auto;

  & .post-header {
    grid-area: header;
    margin: 0;
  }

  & .post-thumbnail {
    grid-area: image;
  }
}
