@use "../text";
@use "../colours";
@use "../../structure/sizes";

@mixin vertical-card {
  grid: auto auto auto auto / 100%;

  & .post-header {
    margin: 0;
    grid-row: 2;
  }

  & .post-thumbnail {
    grid-row: 1;
  }

  & .post-content {
    grid-row: 3;
  }

  & .post-footer {
    grid-row: 4;
  }
}

@mixin horizontal-card {
  grid: auto 1fr auto / 50% 50%;

  & .post-header {
    grid-column: 2;
    grid-row: 1;
  }

  & .post-thumbnail {
    display: inline-block;
    grid-column: 1;
    grid-row: 1 / -1;
  }

  & .post-content {
    grid-column: 2;
    grid-row: 2;
  }

  & .post-footer {
    grid-column: 2;
    grid-row: 3;
  }
}

.post.format-image {
  & .post-image {
    background-color: white;
    width: 100%;

    @media (orientation: landscape) {
      height: 100vh;
    }
  }
}

.single .post.format-image {
  display: grid;
  grid: auto auto auto auto / 100%;

  & .post-header { grid-area: 2; }
  & .post-image { grid-area: 1; }
  & .post-content { grid-area: 3; }
  & .post-footer { grid-area: 4; }

  @media (orientation: landscape) {
    &.image-portrait {
      grid: auto 1fr auto / 2fr 1fr;

      & .post-header { grid-area: 1 / 2; }
      & .post-content { grid-area: 2 / 2; }
      & .post-footer { grid-area: 3 / 2; }
      & .post-image {
        grid-area: 1 / 1 / -1 / 1;
        position: fixed;
        max-width: calc(66vw - 48px);
      }
    }
  }
}

.home .post.format-image,
.blog .post.format-image,
.archive .post.format-image {

  @media (orientation: portrait) {
    &.image-portrait,
    &.image-landscape,
    &.image-square {
      @include vertical-card;
    }
  }

  @media (orientation: landscape) {
    &.image-landscape {
      @include vertical-card;
    }

    &.image-portrait,
    &.image-square {
      @include horizontal-card;
    }
  }

  position: relative;
  display: grid;
  margin: {
    top: sizes.$half-line;
    right: sizes.$half-gutter;
    bottom: calc(sizes.$half-line + sizes.$line);
    left: sizes.$half-gutter;
  }

  border: 1px solid colours.$faint-foreground;

  // @media (orientation: portrait) {
  //   @include horizontal-card;
  // }

  // @media (orientation: landscape) {
  //   @include vertical-card;
  // }

  // Remove margins from items in a frame
  & #{text.$gutterable-elements} {
    margin: sizes.$line sizes.$half-gutter;
  }

  & .post-header {

    &-title {
      margin: 0;

      &-link {
        font-size: sizes.$text;
        color: colours.$text-primary;
        background-color: white;
        text-decoration: none;
        line-height: sizes.$line;
        display: inline-block;
        margin: sizes.$half-gutter;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & .post-thumbnail {
    font-size: 0;
    padding: sizes.$half-gutter;
    background-color: colours.$highlight-background;

    // &:hover {
    //   padding: 0;
    // }

    & .attachment-post-thumbnail {
      display: block;
      margin: 0 auto;

      max-height: 75vh;
    }
  }

  & .post-content {
    font-family: text.$sans-serif;

    & p {
      margin: sizes.$line sizes.$half-gutter;
    }

    & p:first-child {
      margin-top: 0;
    }

    & p:last-child {
      margin-bottom: 0;
    }
  }

  & .post-footer {
    margin: sizes.$half-line sizes.$half-gutter sizes.$half-gutter sizes.$half-gutter;
    font-size: sizes.$text-small;

    &-meta-list {
      margin: 0;

      &-item {
        margin: 0;
      }
    }
  }
}
