@use "../core/colours";
@use "../core/sizes";

.wp-block-code {
  padding: calc(var(--line) / 2) calc(var(--gutter) * 0.5);
  margin: 0 calc(var(--gutter) * 0.5);
  overflow-y: scroll;
  border-radius: var(--border-radius-small);
  background: white;

  code {
    white-space: pre;
  }
}
