@use "../core/sizes";
@use "../core/text";

// Annoying level of specificity necessary to override default styles
.wp-block-gallery.has-nested-images {

  figure.wp-block-image {

    // Override WordPress-generated defaults on captions
    figcaption {
      position: relative;
      left: inherit;
      text-align: initial;
      font-size: var(--text);
      font-family: text.$sans-serif;
      color: #555;
      background: initial;
      max-height: initial;
      margin: {
        top: calc(var(--line) / 2);
        bottom: calc(var(--line) / 2);
        left: var(--gutter);
        right: var(--gutter);
      };
      padding: 0;
      width: auto;
    }
  }
}
