@use "sizes";
@use "text";
@use "colours";
@use "sass:color";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.masthead {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: text.$sans-serif;
  text-transform: lowercase;

  background: color.adjust(#fff, $alpha: -0.3);
  backdrop-filter: blur(2.4rem);
  border-bottom: 1px solid color.adjust(#000, $alpha: -0.7);

  // Masthead is at top of site when portait
  @media (orientation: portrait) {

    width: 100%;
    height: var(--masthead-size);
  }

  // Masthead is at left of screen when landscape
  @media (orientation: landscape) {
    transform: rotateZ(-90deg) translateY(-100vh);
    transform-origin: top right;
    height: var(--masthead-size);
    width: 100vh;
  }

  &-title {

    &-link,
    & a,
    & a:link,
    & a:visited {
      text-decoration: none;
      display: inline-block;
      padding: calc(var(--line) / 2) var(--gutter);
      font-weight: 900;
      font-size: 2.4rem;
      color: colours.$masthead-title;
    }
  }

  &-nav {
    padding: 0;
    margin: 0 var(--gutter) 0 0;
    flex-grow: 2;
    overflow: scroll;

    &-menu {
      margin: 0;
      padding: 0;
      white-space: nowrap;

      @media (orientation: portrait) {
        text-align: center;
      }

      & .menu-item {
        display: inline;
        margin: 0;
        font-family: text.$monospace;

        a,
        a:link,
        a:visited {
          text-decoration: none;
          display: inline-block;
          padding: 1.2rem 0.6rem;
          font-size: 1.2rem;
          color: colours.$text-secondary;
        }
      }
    }
  }

  &-buttons {
    $button-base-size: calc(var(--line) * 2);
    $button-size: calc($button-base-size * 0.75);
    $imagesize: calc(var(--line) * 1);

    display: flex;
    gap: calc(var(--gutter) / 2);
    flex-direction: row-reverse;

    margin-right: calc(var(--gutter) * 0.75);

    @media (orientation: landscape) {
      margin-right: calc(var(--line) * 0.75);
    }

    &-button {
      height: $button-size;
      width: $button-size;

      padding: 0;

      line-height: var(--line);

      background: transparent;
      border-radius: var(--border-radius-small);
      border-width: 0;

      appearance: none; // Remove default button styling on mobile

      &-image {
        height: $imagesize;
        width: $imagesize;

        vertical-align: text-bottom;

        @media (orientation: landscape) {
          transform: rotateZ(90deg);
        }
      }
    }
  }
}
