@use "sass:math";

// Width breakpoints in pixels. Useful for matching to image assets.
$breakpoint-smartphone-plus: 400px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1920px;

:root {

  // The base unit from which all other units are scaled
  --base: 1.6rem;

  // Text (vertical flow)
  --text: var(--base);
  --text-small: calc(var(--text) * 0.75);
  --line: calc(var(--text) * 1.5);
  --half-line: calc(var(--line) / 2);

  // Gutters (horizontal flow)
  --gutter: var(--line);
  --half-gutter: calc(var(--gutter) / 2);

  // Borders
  --border-radius-small: calc(var(--text) / 4);

  // Viewport
  --masthead-size: calc(var(--line) * 2);
  --usable-width: 100vw;
  --usable-height: 100vh;

  /*
  Site-wide query modifications to the root variables.

  Media queries for specific components are stored separately. The modifications
  below are for changes with site-wide consequences - changing the base size,
  modifiying the usable height etc.
  */

  // Scale up text size as widths increase
  @media (min-width: 600px) {
    --base: 1.8rem;
  }

  @media (orientation: portrait) {
    @media (min-width: $breakpoint-smartphone-plus) {
      --masthead-size: calc(var(--line) * 3);
      --usable-height: calc(100vh - var(--masthead-size));
    }
  }

  @media (orientation: landscape) {
    --usable-width: calc(100vw - var(--masthead-size));

    @media (min-width: $breakpoint-tablet) {
      --masthead-size: calc(var(--line) * 3);
    }
  }
}

.wrapper {
  @media (orientation: portrait) {
    padding-top: var(--masthead-size);
  }

  @media (orientation: landscape) {
    padding-left: var(--masthead-size);
  }
}

// Concessions for tiny screens
@media (max-width: $breakpoint-smartphone-plus) {
  :root {
    --gutter: calc(var(--line) / 2);
  }
}

/*
Set root font size such that 1rem == 10px.

This is for easier calculations using `rem` units. These are used extensively
because the allow the site to scale to the browser default font size. Pixels
are still used for images to support them being displayed at their native
resolution and to match the units up with those used by WordPress's responsive
image markup.

See: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
*/
html {
  font-size: 62.5%;
}

// Set consistent vertical flow
body {
  line-height: var(--line);
  font-size: var(--text);
}

// Remove default browser styles from figures
figure {
  margin: 0;
}

// Images should not be larger than the viewport without deliberate overrides
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/*
Layout scale for reference.

The base is 16 to match the default browser text size. Values are 1x and 1.5x.

4
8
12
16
24
32
48
64
96
128
192
256
384
512
640
768
 */
