@use "colours";
@use "sizes";

$monospace-elements: "code, kbd";
$headings: "h1, h2, h3, h4, h5, h6";
$gutterable-elements: "p, ul, ol, li, aside, dd, figcaption, input, select, textarea, label #{$headings}";

// Fonts
$sans-serif: "Barlow", sans-serif;
$serif: "PT Serif", serif;
$monospace: "Fira Code", monospace;

body {
  font-family: $sans-serif;
  color: colours.$text-primary;
}

#{$gutterable-elements} {
  padding: 0;
  margin: var(--line) var(--gutter);
}

#{$monospace-elements} {
  font-family: $monospace;
}

#{$headings} {
  margin: {
    left: var(--gutter);
    right: var(--gutter);
  };
}

a,
a:link,
a:visited {
  color: colours.$link;
}
